<?xml version='1.0' encoding='utf-8'?>
<widget id="lgdc-developement" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>La Guia de Consulta</name>
    <description>
        laguia de consulta
    </description>
    <author email="osmodiars@gmail.com" href="http://cordova.io">
        osmodiars
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>